// Specific CSS for your home-page
#main-div {
  background-color: $red-wine;
  color: $white-wine;
  height: 100vh;

  h1 {
    font-size: 65px;
  }

  .main-link {
    color: $white-wine;
    font-weight: bold;
    font-size: 30px;
  }

  .main-link:hover {
    color: $black;
    text-decoration: none;
  }


}
